
* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100vh;
    display: grid;
    place-items: center;
    background-image:url(images/tic.webp);
    background-size: cover;
}

ol, ul {
  padding-left: 30px;
  color: antiquewhite;
  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.board-row{
  padding: 5px;
}
 .winner-info {
  margin-bottom: 10px;
  background: #f57c00;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;

}

.square {
 background:  #fff ;
 border-radius: 5px;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: 10px;
  margin-top: -1px;
  padding: 2px;
  text-align: center;
  width: 75px;
  justify-content: space-between;
  box-shadow:1px 3px 1px ;

}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  border-radius: 20px;
  background: #1f3540;
  padding: 30px;
  
  box-shadow: inset 1px 2px 0px rgb(255, 255, 255 /18%), inset -2px -2px -2px rgb(0, 0, 0/65%);
}
.head{
  border-radius: 20px;
  background: #1f3540;
  padding: 30px;
  text-align: center;
  color:#fff;
}
.divide{
  background-color: #fff;
  width: 5px;
}
.game-info {
  margin-left: 20px;
  
}
 .moves{
 border: none;
 background-color: #1f3540;
 color: antiquewhite;
}